#Data Types and Structures Assignment Questions

#A. Theory Questions

#### Q1. What are data structures, and why are they important?
- Data structures are ways to organize and store data efficiently so it can be accessed and modified easily. They are important because they optimize operations like searching, sorting, and data manipulation, helping improve the performance of software applications.

####Q2. Explain the difference between mutable and immutable data types with examples.
- Mutable: These can be modified after creation. Example: Lists (list), Dictionaries.
- Immutable: These cannot be modified after creation. Example: Strings (str), Tuples (tuple).

####Q3. What are the main differences between lists and tuples in Python?
- Lists: Mutable, slower, better for operations requiring frequent modifications.
- Tuples: Immutable, faster, better for fixed or constant data.

####Q4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs using a hash table. Each key is unique, and its corresponding value can be accessed efficiently using the key.

####Q5. Why might you use a set instead of a list in Python?
- A set automatically removes duplicate values and provides faster membership testing (in keyword). It’s useful for storing unique elements.

####Q6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters, immutable, and used for textual data. A list, on the other hand, is mutable and can contain any type of elements like string, intiger, bool.

####Q7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning once created, their data cannot be altered. This ensures that the data remains constant and unchanged, making tuples ideal for storing fixed data.

####Q8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally, enabling fast lookups for keys.

####Q9. Can lists contain different data types in Python?
- Yes, Python lists can store elements of different data types.

####Q10. Explain why strings are immutable in Python.
- Strings are immutable to ensure consistency, efficiency, and security, especially when used as keys in dictionaries or during multi-threaded operations.

####Q11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries allow faster lookups and data retrieval using keys, making them ideal for tasks involving mapping and associating data like a phone book.

####Q12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple when storing constant data that should not change, such as coordinates (x, y) or days of the week.

In [1]:
#Q13. 13. How do sets handle duplicate values in Python?
#Answer: Sets automatically discard duplicate values, ensuring all elements are unique.


my_set = {1, 2, 2, 3}
print(my_set)

{1, 2, 3}

In [2]:
#14. How does the in keyword work differently for lists and dictionaries?
#Answer: For lists: Checks if the value exists in the list.

2 in [1, 2, 3]

#For dictionaries: Checks if the key exists in the dictionary.

"name" in {"name": "Nitin"}

True

####Q15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable, so their elements cannot be modified. This characteristic ensures the data remains unchanged.

In [ ]:
#Q16. What is a nested dictionary, and give an example of its use case.
#Answer: A nested dictionary is a dictionary within another dictionary. It’s useful for storing hierarchical data, like a school database.

school = {
    "class1": {"student1": "Alice", "student2": "Bob"},
    "class2": {"student1": "Charlie", "student2": "Diana"}
}

####Q17. Describe the time complexity of accessing elements in a dictionary.
- The average time complexity for accessing elements in a dictionary is O(1) due to the hash table mechanism.

####Q18. In what situations are lists preferred over dictionaries?
- Lists are preferred when:
- Order of elements matters.
- Storing a simple sequence of data without key-value mappings.

####Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered because their data is stored based on the hash of the keys, not their insertion order. As a result, retrieval must be done using keys, not positions.

In [3]:
'''Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
Answer:

List: Data is retrieved using an index.
Dictionary: Data is retrieved using a key, making it more efficient for lookups.'''

my_list = [10, 20, 30]
my_dict = {"a": 10, "b": 20}
print(my_list[1])
print(my_dict["b"])

20
20

#B. Practical Questions

In [ ]:
#1. Write a code to create a string with your name and print it.

name = "Nitin"
print(name)

Nitin

In [ ]:
#2. Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

n =  "Python Programming"

print(n[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
n = "hello"

n.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
n = "I like Apple"
n.replace("Apple","Orange")

'I like Orange'

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]

print(numbers)

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list1 = ['a', 'b', 'c', 'd']
list1[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

In [ ]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

tuple1 =  ('apple', 'banana', 'cherry')

tuple1[0]

'apple'

In [ ]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple1 = (1, 2, 3, 2, 4, 2)

tuple1.count(2)

3

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple1 = ('dog', 'cat', 'rabbit')

tuple1.index('cat')

1

In [ ]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuple1 = ('apple', 'orange', 'banana')

if 'banana' in tuple1:
    print("banana is in tuple1")
else:
    print("banana is not in tuple1")

banana is in tuple1

In [ ]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.add(6)
set1

{1, 2, 3, 4, 6}

In [ ]:
#Note: Questions from 18 to 24 is repeated, so i have write the answer accordingly